<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>维修添加--DRMS后台管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/layui/css/layui.css" media="all"/>
    <style type="text/css">
        .layui-form-item .layui-inline {
            width: 33.333%;
            float: left;
            margin-right: 0;
        }

        @media (max-width: 1240px) {
            .layui-form-item .layui-inline {
                width: 100%;
                float: none;
            }
        }
    </style>
</head>
<body class="childrenBody">
<div style="margin: 5px 20px">
    <div style="width: 100%;height:30px;position: relative">
        <button id="backbtn" class="layui-btn layui-btn-xs" style="position: absolute;top: 0;right: 50px;"><i
                class="layui-icon">&#xe65c;</i>返回
        </button>
        <button id="refresh" class="layui-btn layui-btn-xs layui-btn-warm"
                style="position: absolute;top: 0;right: 120px;"><i
                class="layui-icon">&#xe669;</i>刷新
        </button>
    </div>
    <form class="layui-form" style="width:80%;">
        <div class="layui-form-item">
            <label class="layui-form-label">校区</label>
            <div class="layui-input-block">
                <select name="campusId" lay-verify="required" disabled>
                </select>
            </div>
        </div>
        <input type="hidden" name="campusName">
        <div class="layui-form-item">
            <label class="layui-form-label">楼栋</label>
            <div class="layui-input-block">
                <select name="floorId" lay-verify="required" disabled>
                </select>
            </div>
        </div>
        <input type="hidden" name="floorName">
        <div class="layui-form-item">
            <label class="layui-form-label">寝室</label>
            <div class="layui-input-block">
                <select name="roomId" lay-verify="required" disabled>
                </select>
            </div>
        </div>
        <input type="hidden" name="roomName">
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">详细信息</label>
            <div class="layui-input-block">
                <textarea name="description" placeholder="请输入详细描述" lay-verify="required" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">类型</label>
            <div class="layui-input-block">
                <select name="type" lay-verify="required">
                    <option value="1" aria-checked="true">统一报修</option>
                    <option value="0">人为损坏</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">负责人及描述</label>
            <div class="layui-input-block">
                <input name="principal" type="text" class="layui-input" lay-verify="required" placeholder="请输入相关描述" autocomplete="off">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">类型</label>
            <div class="layui-input-block">
                <select name="report" lay-verify="required">
                    <option value="1" aria-checked="true">上报</option>
                    <option value="0">暂存</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="addform">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript" src="/js/public.js"></script>
<script type="text/javascript" src="/js/manager/wxadd.js"></script>
</body>
</html>
